



.nav-btn{
    border-style: solid;
    width: 140px;
    border-color: white;
    padding: 10px 20px 10px 20px;
    border-width: 1px;
    border-radius: 6px;
    
}

.nav-link-new {
    color: white;
}

.bg-light1{

    background-color: #FF7979!important;
    padding: 12px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.dropdown-toggle a:hover{
    color: #FF7979;
} 
.dropdown-menu a:hover{
    background-color: #FF7979;
}


.buttcolor{

    background-color: #FF7979;
    border-color:#ffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: white;
    
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    margin-left: 60px;
    
    
}

.textstyle{
  
    text-align: right;
}







*section{

    padding-top: 100px; 
    padding-bottom: 100px;
    width: 700px;
}

/* index-start */

.text-style{
line-height: 30px;
font-size: 16px;
font-family:Dubai;
padding-top: 40px;
text-align: justify;
}


.btn{
    width: 100px;
    border-color:#FF7979 ;
    background-color: #FFEBEB;
    border-radius: 40px;
    font-size: 12px;
    text-align: center;
     
}

/* index-end */

/* button */
.btn1{
    border-color:#FF7979 ;
    color: #FF7979;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    text-align: justify;
    border-width: 2px;
    font-size: 14px;
}
/* end */


/* font-text-start */
.text-style1{
line-height: 30px;
font-size: 16px;
font-family: Dubai;
text-align: justify;
}


/* font-text-end */


/* helth3-start */
.bord1{
border-style: solid; 
background-color:#f5e297; 
width: 300px;
border-color: grey;
border-radius: 19px;
border-width: 1px;


}


/* helth3-end */


/* helth4-start */
.text-style2{
    line-height: 30px;
    font-size: 17px;
    font-family: Dubai;
    text-align: justify;
    }

.margin-helth4{
    margin-top: 40px;
}
/* helth4-end */



/* helth5-start */

.card-style{
    
    margin-top: 140px; 
    margin-bottom: 60px;
    width: 70rem;
    margin-right: 100px;
    border-color: #F9D951; 
    border-width: 2px;
    box-shadow: 6px 6px 4px grey;
}

.margin-helth4{
    margin-top: 40px;
}
/* helth5-end */


/* helth9-start */
.style-bord{ 
  border-style: solid;
  background-color: #b0ecee;
  width: 400px;
  border-color: #b0ecee; 
  border-radius:29px;
  margin-right: 350px;
  margin-bottom: 40px;
    }
/* helth9-end */



/* helth11-start */

.text-style3{
    line-height: 30px;
    font-size: 17px;
    font-family: Dubai;
    text-align: justify;
    margin: 20px 0px 20px 0px;
    }

/* helth11-end */


/* helth12-start */

.text-style3{
    line-height: 30px;
    font-size: 17px;
    font-family: Dubai;
    text-align: justify;
    margin: 20px 0px 20px 0px;
    }

/* helth12-end */

/* back button */
.style-h2{

   color:#D32E5E; 
   font-size: 18px;
   margin:10px 10px 40px 0;
}

/* end  back button */


/* helth13-start */
.style-bord1{ 
    border-style: solid;
    background-color: #D32E5E;
    width: 360px;
    border-color: #707070; 
    border-radius:33px;
    margin-right: 380px;
    margin-bottom: 40px;
    color: white;
    border-width: 1px;
    padding: 6px 6px 6px 6px;
      }

.text-style4{
    line-height: 30px;
    font-size: 20px;
    font-family: Dubai;
    text-align: justify;
    text-align: center;
    margin-top: 12px;
  
}

/* helth13-end */



/* helth15-start */
.border-body1 {
    margin: 100px 300px  0px 37px;
    border-style: solid;
    border-color:#F9D951;
    width: 1280px;
    margin-bottom: 40px;
    border-width:4px;
    padding: 19px 0px 0px 0px;
    
}

/* helth15-end */


/* helth15-start */

.helth-card1{

    width: 740px;
    border-color: #833471;
    border-style: solid;
    padding: 40px 40px 20px 40px;
    background-color: #FBFAFA;
    margin-left: 100px;

}

.helth-card2{

    width: 400px;
    border-color: #833471;
    border-style: solid;
    padding: 0px 0px 60px 0px;
    background-color: #FDEFEF;
    margin-right: 0px;
   
}

.helth-card3{

    width: 400px;
    border-color: #833471;
    border-style: solid;
    background-color: #FDEFEF;
    margin-right: 0px;
   
}

/* helth15-end */



/* helth19-start */
.helth-card4{

    width: 800px;
    border-color: #4671C6;
    border-style: solid;
    padding: 100px 40px 100px 40px;
    background-color: #FEFAFB;
  

}

.helth-card5{

    width: 340px;
    border-color: #4671C6;
    border-style: solid;
    padding: 40px 200px 44px 20px;
    background-color: #FEFAFB;
  

}
/* helth19-end */




/* helth20-21-22-start */

.style-bg1{

    border-style: solid; 
    background-color: #FEFAFB;
    border-color: #707070;
    width: 240px;
    border-width: 1px; 
    color: #E76E6E;
    text-align: center;
    border-radius: 36px;
    padding: 14px 20px 12px 20px;
}

.style-bg2{

    border-style: solid; 
    background-color: #FEFAFB;
    border-color: #707070;
    width: 400px;
    border-width: 1px; 
    color: #3A2C60;
    text-align: center;
    border-radius: 36px;
    padding: 14px 20px 12px 20px;
}

.style-bg3{

    border-style: solid; 
    background-color: #FFFFFF;
    border-color: #F2B6B5;
    width: 300px;
    border-width: 1px; 
    color: #3A2C60;
    text-align: center;
    border-radius: 36px;
    padding: 14px 20px 12px 20px;
}


.style-bg-helth22{
    border-style: solid; 
    background-color: #2699FB;
    border-color: #707070;
    width: 300px;
    border-width: 1px; 
    color: #FFFFFF;
    text-align: center;
    border-radius: 36px;
    padding: 14px 20px 12px 20px;  
    margin: 10px 400px 40px 0px;
}
/* helth20-21-22-end */




/* helth23-start */

.card-helth23{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 558px;
}

/* helth23-end */


/* login-start */

.border-login{
    border-radius:10 ;
    border-color:#FF8D8D ;
    background-color: white;
    border-style: solid;
    width: 1000px;
    height: 600px;


}

.btn-login{

    width: 360px;
    padding: 20px;
    border-color:#FF7979 ;
    background-color: #FF7979;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
     
}


.form-control {
    display: block;
    width: 360px;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #FF8D8D;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.form-check .form-check-input {
    float: right; 
     margin-left: 0px;
     border:2px solid #FF8D8D;
     width: 20px;
     height: 20px;

}




/* login-end */



.signin{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border:1px solid  #FF8D8D ;
    border-radius: 10px;
    padding:60px 300px 60px 300px;
    box-shadow: 2px 2px 2px 2px #FF8D8D;

}







/* footer start */
footer{
    
    margin-top: 12px;
    width: 100%;
    background: #1E272E;
    color: white;
}

.main-content{
    
    padding: 20px 20px 18px 0px;
   
}

.text{
    font-style: italic;
    font-size: 20px;
}

.paddfont{

    margin: 4px;
    color: white;
}


.padding-itme-health{

   margin-left: 100px;

}

.padding-email{

    margin-left: 100px;
}

/* footer end */





